



/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////        Add movie and create list inner css     ////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
.color_grey{
  color:grey;
}

.submit{
  cursor: pointer;
}


input[type=text] {
  box-sizing: border-box;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////          lightbox effect (inherited from ass6)       //////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */





.frame img{
    border: 10px solid #000;
    cursor: pointer;
    height: auto;
    
    
  }


.frame img:hover{
  transform: scale(1.2);
  filter: brightness(1.8);
  filter: drop-shadow(15px 15px 19px red);

}


/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////      Movie Page appearances    ////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */



.box_setting {
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    z-index: 1;
    overflow: auto;
    position: fixed;
    align-content: center;
    justify-content: center;
}

.appearance {
    width: 650px;
    max-width: 750px;
    margin: auto;
    background-color: lightcyan;
    border: 10px solid lightcyan;
    display: flex;
    cursor: mouse;
}



#addtolist {
  background-color: #507A77;
  color: whitesmoke;
  width: 350px;
  font-size: 20px;
  cursor: pointer;
  float: left;
}

#listbutton {
  background-color: #507A77;
  color: whitesmoke;
  border: 1px solid #2F4F4D;
  font-size: 20px;
  cursor: pointer;
}

#delete_button {
  background-color: #B00000;
  color: #FFF;
  float: left;
  border-radius: 30px;
  font-size: 15px;
}




h6{
  background-color: lightblue;
}


#list {
  background-color: whitesmoke;
  color: black;
  border: black;
  font-size: 15px;
  cursor: pointer;
}

#list-container {
  width: 1250px;
  
}


#search_bar {
  width: 1000px;
}
#bar_c{
  background-color: grey;
}
#search_but {
  padding: 1px 1px;
  background-color: rgb(74, 113, 241);
  color: #FFF;
  border: 1px solid black;
  cursor: pointer;
  
}

.content {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
}

#load_but_position {
  width: 100%;
  text-align: center;
}

#load_but {
  background-color: rgb(150, 46, 46);
  color: #FFF;
  padding: 30px;
  font-size: 25px;
  cursor: pointer;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////          light box inner appearances              //////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */




.title {
  color:rgb(30, 102, 161);
  font-size: 50px;
  line-height: 100px;
}

.director {
  color: rgba(0,0,0,0.8);
  font-size: 20px;
  line-height: 50px;
}

.rating {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(245, 218, 65);
  color: black;
}


/* /////////////////////// */
